@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
}

/* @layer components{
  .btn{
    @apply text-white  font-sans_500 bg-primary
  }
} */

@layer base{
  @font-face {
    font-family: "readexPro";
    src: url("../Fonts/ReadexPro.ttf");
  }

  @font-face {
    font-family: "PlusJakartaSans-400";
    src: url("../Fonts/PlusJakartaSans-Regular.ttf");
  }

  @font-face {
    font-family: "PlusJakartaSans-500";
    src: url("../Fonts/PlusJakartaSans-Medium.ttf");
  }
}


