@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  @font-face {
    font-family: "readexPro";
    src: url("../fonts/ReadexPro.ttf");
  }

  @font-face {
    font-family: "PlusJakartaSans-400";
    src: url("../fonts/PlusJakartaSans-Regular.ttf");
  }

  @font-face {
    font-family: "PlusJakartaSans-500";
    src: url("../fonts/PlusJakartaSans-Medium.ttf");
  }
}


@layer components{
  .btn{
    @apply 
      text-white 
      font-sans_500 
      rounded-md 
      bg-primary 
      p-2 
      text-[18px]
      hover:bg-primaryDark
  }
  .headingTxt{
    @apply
      font-readex_600
      text-[51px]
      text-dark
  }
  .labelTxt1{
    @apply
      font-sans_500
      text-dark
  }
  .labelTxt2{
    @apply
      font-sans_400
      text-dark
      text-[18px]
  }
  .linkTxt{
    @apply
      p-2
      px-4 
      text-dark 
      font-sans_500 
      text-[18px]
      hover:cursor-pointer
      hover:text-infoDark
  }

  .input{
    @apply
      w-full
      h-[56px]
      bg-secondaryLight
      rounded-sm
      border
      border-secondary
      px-[16px]
      py-[24px]
      text-secondary
      font-sans_500
      text-[16px]
  }
  .card {
    @apply
      w-[310px]
      h-[368px]
      bg-white
      rounded-[32px]
      p-[32px]
  }
} 
