@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  @font-face {
    font-family: "readexPro";
    src: url("../Fonts/ReadexPro.ttf");
  }

  @font-face {
    font-family: "PlusJakartaSans-400";
    src: url("../Fonts/PlusJakartaSans-Regular.ttf");
  }

  @font-face {
    font-family: "PlusJakartaSans-500";
    src: url("../Fonts/PlusJakartaSans-Medium.ttf");
  }
}