@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@layer base{
    @font-face {
        font-family: "readex_bold";
        src: url("./utils/fonts/ReadexPro-bold.ttf")
    }
    @font-face {
        font-family: "readex_light";
        src: url("./utils//fonts//ReadexPro-Light.ttf")
    }
    @font-face {
        font-family: "readex_medium";
        src: url("./utils//fonts/ReadexPro-Medium.ttf")
    }
    @font-face {
        font-family: "sans_regular";
        src: url("./utils//fonts/PlusJakartaSans-Regular.ttf")
    }
    @font-face {
        font-family: "sans_medium";
        src: url("./utils//fonts/PlusJakartaSans-Medium.ttf")
    }
    @font-face {
        font-family: "sans_bold";
        src: url("./utils//fonts/PlusJakartaSans-Regular.ttf")
    }
}